@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

$color1: #333;
$radius: 0.28571429rem;

// breakpoints
$br1799: "(max-width: 1799px)";
$br1550: "(max-width: 1550px)";
$br1350: "(max-width: 1350px)";
$br1199: "(max-width: 1199px)";
$br1099: "(max-width: 1099px)";
$br1000: "(max-width: 1000px)";
$br991: "(max-width: 991px)";
$br950: "(max-width: 950px)";
$br900: "(max-width: 900px)";
$br767: "(max-width: 767px)";
$br677: "(max-width: 677px)";
$br600: "(max-width: 600px)";
$br560: "(max-width: 560px)";
$br525: "(max-width: 525px)";
$br500: "(max-width: 500px)";
$br478: "(max-width: 478px)";
$br416: "(max-width: 416px)";

/*    @media #{$br500} {
      width: 4px;
    }*/

#__next {
  min-width: 100%;
  min-height: 100%;
}

body {
  background: #f7f7f7;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

* {
  font-family: "Nunito", sans-serif;
  transition: background 0.3s ease;
}

a {
  color: rgba(0, 0, 0, 0.8);
  &:hover {
    color: rgba(0, 0, 0, 0.8);
  }
}

//SEMANTIC UI OVERRIDE
.ui {
  &.header {
    color: rgba(0, 0, 0, 0.87);
  }
  &.button {
    font-family: "Nunito", sans-serif;
  }
  &.input {
    &.error {
      input {
        background-color: #fff6f6;
        border-color: #e0b4b4;
        color: #9f3a38;
      }
    }
  }
}

//header login options
.login-btn {
  display: flex;
  align-items: center;
  background: #e0e1e2;
  border-radius: $radius;
  overflow: hidden;
  cursor: pointer;
  .btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: #d6d7d8;
    svg {
      max-width: 20px;
      max-height: 20px;
    }
  }
  .btn-text {
    padding: 8px;
    font-weight: 700;
  }
  &.wallet-connect-btn {
    margin-top: 10px;
  }
}

.main-wrapper {
  min-height: 100%;
  max-width: 1800px;
  margin: 0 auto;
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: #fff;
    z-index: 2;
    transition: transform 0.15s;
    transform: translateX(100%);
    @media #{$br500} {
      width: 90%;
    }
    .content-wrapper {
      margin-top: 80px;
      h5,
      h6 {
        padding-left: 15px;
        margin: 0;
      }
      .token-have-title {
        position: relative;
        .refresh-btn {
          position: absolute;
          bottom: 0;
          z-index: 1;
          font-size: 30px;
          transform: translateY(20px) translateX(-50%);
          left: 50%;
          background: #fff;
          padding: 6px;
          border-radius: 100%;

          i {
            margin: 0;
            line-height: normal;
            height: auto;
            display: block;
            width: auto;
            animation: button-spin 0.6s linear;
            animation-iteration-count: infinite;
            animation-play-state: paused;
          }
          &.loading {
            i {
              animation-play-state: running;
            }
          }
        }
      }
      .divider {
        padding-left: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .login-btn {
        width: 170px;
        margin-left: 15px;
      }
      .logout-btn {
        margin: 15px auto 0px auto;
        display: block;
      }
    }
    .menu {
      width: 100%;
      margin-top: 40px;
    }
    &.active {
      transform: translateX(0);
    }
  }
  .mobile-menu-close {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    width: calc(100% - 300px);
    height: 100%;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
    @media #{$br500} {
      width: 10%;
    }
    &.active {
      opacity: 0.7;
      pointer-events: auto;
    }
  }
  .header-top {
    display: flex;
    justify-content: center;
    padding: 0px 15px 0px 15px;
    background: linear-gradient(130deg, #5895d3 0, #a061b3 100%);
    color: #38b1b1;
    @media #{$br900} {
      display: none;
    }
    .token-holding-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
      position: relative;
      transform: translateY(calc(-100% - 25px));
      transition: transform 0.5s ease-in-out;
      &.show {
        transform: translateY(0);
      }
      .title,
      .tokens {
        z-index: 1;
        font-size: 12px;
      }
      .title {
        font-weight: 800;
      }
      .tokens {
        font-weight: 700;
      }
      .refresh-btn {
        position: absolute;
        bottom: 0;
        z-index: 1;
        font-size: 30px;
        transform: translateY(20px) translateX(-50%);
        left: 50%;
        background: $color1;
        padding: 6px;
        border-radius: 100%;

        i {
          margin: 0;
          line-height: normal;
          height: auto;
          display: block;
          width: auto;
          animation: button-spin 0.6s linear;
          animation-iteration-count: infinite;
          animation-play-state: paused;
        }
        &.loading {
          i {
            animation-play-state: running;
          }
        }
      }
      &::after {
        content: "";
        position: absolute;
        background: $color1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 60px;
        z-index: 0;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
      }
    }
  }
  header {
    margin: 0 auto;
    min-height: 65px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    background: linear-gradient(130deg, #5895d3 0, #a061b3 100%);
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    @media #{$br1799} {
      border-radius: 0px;
    }
    .header-logo {
      img {
        max-width: 210px;
        @media #{$br1350} {
          max-width: 195px;
        }
        @media #{$br950} {
          max-width: 175px;
        }
      }
    }

    .header-right {
      display: flex;
      flex: 0 1 100%;
      justify-content: flex-end;
      align-items: center;
      .menu {
        list-style: none;
        display: flex;
        margin: 0;
        padding-right: 75px;
        font-weight: 700;
        @media #{$br1350} {
          padding-right: 60px;
        }
        @media #{$br950} {
          font-size: 13px;
        }

        li {
          margin: 0px 5px;
          &:not(.active) {
            opacity: 0.9;
          }
          a {
            color: #fff;
          }
        }
      }
      .login-options-trigger-btn {
        @media #{$br1350} {
          font-size: 13px;
        }
      }
      .hamburger-wrapper {
        // position: fixed;
        top: 10px;
        right: 10px;
        z-index: 3;
        display: none;
        @media #{$br900} {
          display: block;
        }
      }
    }
    &.normal {
      .header-right {
        .menu {
          @media #{$br900} {
            display: none;
          }
        }
        .login-options-trigger-btn {
          @media #{$br900} {
            display: none;
          }
        }
        > button {
          @media #{$br900} {
            display: none;
          }
        }
      }
    }
  }
  > .content {
    background: #fff;
    min-height: calc(100vh - 67.47px);
    margin: 60px 0;
    border-radius: $radius;
    position: relative;
    overflow: hidden;
    @media #{$br1799} {
      border-radius: 0px;
    }
    .homepage {
      padding: 60px 0;
      .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        .menu {
          @media #{$br677} {
            font-size: 13px;
          }
          @media #{$br500} {
            font-size: 12px;
          }
        }
      }
      .tabs-options {
        display: flex;
        justify-content: center;
        .tabs-option {
          font-size: 18px;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #e0e1e2;
          font-weight: 600;
          cursor: pointer;
          transition: background 0.15s, color 0.15s;
          color: rgba(0, 0, 0, 0.6);
          @media #{$br677} {
            font-size: 15px;
          }
          &.active {
            background: #a5a5a5;
            color: #fff;
          }
          &:nth-child(odd) {
            margin: 0 5px;
          }
        }
      }
      .divider {
        max-width: 500px;
        margin: 15px auto;
      }
      .projects-title {
        font-size: 27px;
      }
      .projects {
        position: relative;

        .project {
          display: flex;
          flex: 0 0 50%;
          min-height: 100%;
          background: #fff;
          border: 5px solid transparent;
          padding: 15px 0 15px 15px;
          border-radius: $radius;

          -webkit-box-shadow: 0px 1px 5px 0px rgba(143, 143, 143, 0.2);
          -moz-box-shadow: 0px 1px 5px 0px rgba(143, 143, 143, 0.2);
          box-shadow: 0px 1px 5px 0px rgba(143, 143, 143, 0.2);
          @media #{$br1350} {
            flex-direction: column;
            padding: 15px;
          }
          .card-left {
            flex: 0 0 60%;
            text-align: justify;
            .project-title {
              color: rgba(0, 0, 0, 0.6);
            }
            .project-description {
              min-height: 151.11px;
              font-size: 13px;
              @media #{$br1350} {
                font-size: 12px;
              }
              @media #{$br991} {
                min-height: auto;
              }
              .read-more-wrapper {
                position: relative;
                display: inline-block;
                margin-left: 5px;
                color: #36b0b0;
                .text {
                  display: inline-block;
                  position: relative;
                  z-index: 1;
                  transform: translateX(-5px);
                  color: #359b9a;
                }
                &::after {
                  content: "";
                  position: absolute;
                  width: 35px;
                  height: 100%;
                  top: 0;
                  left: -40px;
                  background-image: linear-gradient(
                    to right,
                    rgba(255, 255, 255, 0),
                    #fff
                  );

                  //linear-gradient(to right, transparent, #cc1616)
                }
              }
            }
          }
          .card-right {
            flex: 0 0 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media #{$br1350} {
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              margin-top: 15px;
            }
            @media #{$br677} {
              margin-top: 30px;
            }
            @media #{$br600} {
              justify-content: stretch;
            }
            .project-button {
              display: flex;
            }
            .card-right-top,
            .card-right-bottom {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .card-right-top {
              @media #{$br600} {
                width: 50%;
                padding-right: 5px;
              }
              button {
                margin: 0;
                background: transparent;
                border: 1px solid #e0e1e2;
                @media #{$br677} {
                  font-size: 13px;
                }
                i {
                  font-size: 14px;
                }
                @media #{$br1350} {
                  height: 54px;
                }
                @media #{$br600} {
                  height: 54px;
                }
              }
            }
            .card-right-bottom {
              padding-top: 15px;
              @media #{$br1350} {
                padding-top: 0;
              }
              @media #{$br600} {
                width: 50%;
                padding-left: 5px;
              }
              .project-button {
                border-radius: $radius;
                border: 1px solid #e0e1e2;
                padding: 0.78571429em 0.46em 0.78571429em;
                text-align: center;
                position: relative;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: rgba(0, 0, 0, 0.6);
                h5 {
                  font-size: 11px;
                  margin: 0px 0px 2px 0px;
                  font-weight: 900;
                }
                p {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
      .polls {
        position: relative;

        .poll {
          display: flex;

          background: #fff;
          border: 5px solid transparent;
          padding: 15px;
          border-radius: $radius;

          -webkit-box-shadow: 0px 1px 5px 0px rgba(143, 143, 143, 0.2);
          -moz-box-shadow: 0px 1px 5px 0px rgba(143, 143, 143, 0.2);
          box-shadow: 0px 1px 5px 0px rgba(143, 143, 143, 0.2);
          @media #{$br1350} {
            flex-direction: column;
            padding: 15px;
          }
          .card-left {
            flex: 0 0 60%;
            text-align: justify;
            .poll-title {
              color: rgba(0, 0, 0, 0.6);
              @media #{$br1350} {
                text-align: center;
              }
            }
          }
          .card-right {
            flex: 0 0 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            @media #{$br1350} {
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              margin-top: 15px;
            }
            @media #{$br677} {
              margin-top: 30px;
            }
            @media #{$br600} {
              justify-content: stretch;
            }
            .poll-button {
              display: flex;
            }
            .card-right-top,
            .card-right-bottom {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .card-right-top {
              @media #{$br600} {
                width: 50%;
                padding-right: 5px;
              }
              button {
                background: transparent;
                border: 1px solid #e0e1e2;
                margin: 0;
                @media #{$br1350} {
                  height: 54px;
                }
                @media #{$br677} {
                  font-size: 13px;
                }
                @media #{$br600} {
                  height: 54px;
                }
              }
            }
            .card-right-bottom {
              padding-top: 15px;
              @media #{$br1350} {
                padding-top: 0;
              }
              @media #{$br600} {
                width: 50%;
                padding-left: 5px;
              }
              .poll-button {
                border-radius: $radius;
                border: 1px solid #e0e1e2;
                padding: 0.78571429em 0.46em 0.78571429em;
                text-align: center;
                position: relative;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: rgba(0, 0, 0, 0.6);
                h5 {
                  font-size: 11px;
                  margin: 0px 0px 2px 0px;
                  font-weight: 900;
                }
                p {
                  font-size: 10px;
                }
                .poll-button-left,
                .poll-button-right {
                  padding: 0px 0.78571429em;
                }
              }
            }
          }
        }
      }
    }
    .detail-page {
      position: relative;
      background: #fff;
      min-height: 100vh;
      padding-bottom: 60px;
      overflow: hidden;
      .detail {
        padding: 75px 630px 0 230px;
        @media #{$br1550} {
          padding: 37.5px 315px 0 115px;

          max-width: 1200px;
        }
        @media #{$br1099} {
          padding: 37.5px 37.5px 0 37.5px;
        }
        @media #{$br560} {
          padding: 25px 10px 0 10px;
        }
        .detail-title {
          @media #{$br1350} {
            font-size: 24px;
          }
          @media #{$br991} {
            font-size: 22px;
          }
          @media #{$br677} {
            font-size: 20px;
          }
        }
      }
      .options-wrapper {
        padding: 75px 630px 0 230px;
        @media #{$br1550} {
          padding: 37.5px 315px 0 115px;
          max-width: 1200px;
        }
        @media #{$br1099} {
          padding: 37.5px 37.5px 0 37.5px;
        }
        @media #{$br560} {
          padding: 40px 10px 0 10px;
        }
        position: relative;
        .options-title {
          box-shadow: 0px 1px 3px -1px rgb(143 143 143 / 20%);
          padding-bottom: 5px;
          @media #{$br478} {
            font-size: 16px;
          }
        }
        .option {
          margin: 15px 0px;
          @media #{$br677} {
            margin: 10px 0px;
          }
          .option-left,
          .option-right {
            z-index: 1;
          }
          .option-left {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .option-right {
            padding-left: 15px;
            padding-right: 100px;
            span {
              font-weight: 600;
              @media #{$br677} {
                font-size: 13px;
              }
              &.bolder {
                font-weight: 700;
              }
            }
          }
          cursor: pointer;
          .segment {
            display: flex;
            position: relative;
            overflow: hidden;
            @media #{$br677} {
              padding: 10px;
            }
            p {
              margin-left: 10px;
            }
            .option-bg {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;

              z-index: 0;
              border-radius: $radius;
            }
            .option-votePercent {
              position: absolute;
              font-weight: 700;
              top: 50%;
              transform: translateY(-50%);
              right: 15px;
              z-index: 0;
              @media #{$br677} {
                font-size: 13px;
              }
            }
            .option-checked {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 70px;
              z-index: 0;
              width: 22px;
              height: 22px;
              svg {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        .submit-vote-row {
          display: flex;
          justify-content: flex-end;
          button {
            margin: 0;
          }
        }
      }
      .last-votes {
        padding: 50px 630px 0 230px;
        @media #{$br1550} {
          padding: 37.5px 315px 0 115px;
          max-width: 1200px;
        }
        @media #{$br1099} {
          padding: 37.5px 37.5px 0 37.5px;
        }
        @media #{$br560} {
          padding: 40px 10px 0 10px;
        }
        .feed {
          max-height: 300px;
          overflow-x: hidden;
          overflow-y: auto;

          display: flex;
          flex-direction: column-reverse;
          &::-webkit-scrollbar {
            width: 5px;
          }
          &::-webkit-scrollbar {
            width: 5px;
          }
          .event {
            max-height: 80px;
            padding: 15px;
            border-radius: $radius;
            margin: 10px 0;
            .content {
              min-height: auto;
              background: none;
              @media #{$br677} {
                font-size: 13px;
              }
            }
            .divider {
              margin: 3px 0px;
            }
          }
          .feed-wallet {
            color: #4183c4;
          }
        }
        .last-votes-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          box-shadow: 0px 1px 3px -1px rgb(143 143 143 / 20%);
          @media #{$br478} {
            font-size: 16px;
          }
          .refresh-button {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            line-height: normal;

            i.refresh {
              animation: button-spin 0.6s linear;
              animation-iteration-count: infinite;
              animation-play-state: paused;
              @media #{$br677} {
                font-size: 13px;
              }
            }
            &.refreshing {
              i.refresh {
                animation-play-state: running;
              }
            }
          }
        }
      }
      .detail-page-right {
        width: 400px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        transition: 0.3s;
        z-index: 1;
        @media #{$br677} {
          width: 300px;
        }

        .show-hide-trigger {
          width: 40px;
          height: 40px;
          position: absolute;
          top: 100px;
          left: -40px;
          border: 1px solid #eeeeee;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          border-top-left-radius: $radius;
          border-bottom-left-radius: $radius;
          background: rgba(255, 255, 255, 1);
          z-index: -1;
          transform: translateX(100%);
          @media #{$br1350} {
            transform: translateX(0);
          }
          @media #{$br677} {
            width: 30px;
            height: 30px;
            left: -30px;
          }
          svg {
            width: inherit;
            height: inherit;
            transition: transform 0.3s;
          }
        }
        &.hide {
          @media #{$br1350} {
            transform: translateX(100%);
            svg {
              transform: rotate(180deg);
            }
            .show-hide-trigger {
              background: rgba(255, 255, 255, 0.6);
            }
          }
        }
        .chart {
          min-height: 400px;
          margin-top: 75px;
          box-shadow: 0px 1px 5px 0px rgb(143 143 143 / 20%);
          border-radius: $radius;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fff;
        }
        canvas {
          padding: 5px;
        }
        .dates {
          margin-top: 15px;
          box-shadow: 0px 1px 5px 0px rgb(143 143 143 / 20%);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: $radius;
          background: #fff;
          .date {
            display: flex;
            flex-direction: column;
            width: 50%;
            align-items: center;
            justify-content: center;
            padding: 10px;

            .date-title {
              font-weight: 700;
              font-size: 14px;
              @media #{$br677} {
                font-size: 12px;
              }
            }
            .date-content {
              padding-top: 3px;
              @media #{$br677} {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
    .admin-homepage {
      padding: 30px;
      .tabs-options {
        display: flex;
        justify-content: center;
        .tabs-option {
          font-size: 18px;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #e0e1e2;
          font-weight: 600;
          cursor: pointer;
          transition: background 0.15s, color 0.15s;
          color: rgba(0, 0, 0, 0.6);
          @media #{$br677} {
            font-size: 15px;
          }
          &.active {
            background: #a5a5a5;
            color: #fff;
          }
          &:nth-child(odd) {
            margin: 0 5px;
          }
        }
      }
      .divider {
        max-width: 500px;
        margin: 15px auto;
      }
      .admin-login-form-wrapper {
        max-width: 400px;
        margin: 0 auto;
      }
      .admin-login-form-menu {
        max-width: 400px;
        margin: 0 auto 15px auto;
      }
    }
    .admin-sub-page {
      .sub-page-tabs {
        max-width: 850px;
        margin: 0 auto;
        padding-top: 60px;
        margin-bottom: 20px;
      }
      .big-button {
        max-width: 850px;
        margin: 0 auto;
      }
    }
  }
  footer {
    display: flex;
    padding: 15px;
    background-color: #fff;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    background: linear-gradient(130deg, #5895d3 0, #a061b3 100%);
    @media #{$br1799} {
      border-radius: 0px;
    }
    .footer-left {
      flex: 0 0 50%;
      display: flex;
      align-items: center;
      font-weight: 700;
      color: #fff;
      @media #{$br677} {
        font-size: 11px;
      }
    }
    .footer-right {
      flex: 0 0 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    a {
      max-width: inherit;
      max-height: inherit;
      svg {
        max-width: inherit;
        max-height: inherit;
        path {
          fill: $color1;
        }
      }
    }
    .icon-btn {
      margin: 0px 5px;
    }
    .github {
      flex: 0 0 25px;
      max-width: 25px;
      max-height: 25px;
      @media #{$br677} {
        flex: 0 0 20px;
        max-width: 20px;
        max-height: 20px;
      }
      path {
        fill: #fff;
      }
    }
    .youtube {
      flex: 0 0 25px;
      max-width: 25px;
      max-height: 25px;
      @media #{$br677} {
        flex: 0 0 20px;
        max-width: 20px;
        max-height: 20px;
      }
      svg {
        path {
          fill: #fff;
          &:nth-child(2) {
            fill: $color1;
          }
        }
      }
    }
  }
}
