@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

#__next {
  min-width: 100%;
  min-height: 100%;
}

body {
  background: #f7f7f7;
}

* {
  font-family: "Nunito", sans-serif;
}

a {
  color: rgba(0, 0, 0, 0.8);
  &:hover {
    color: rgba(0, 0, 0, 0.8);
  }
}

//SEMANTIC UI OVERRIDE
.ui {
  &.header {
    color: rgba(0, 0, 0, 0.87);
  }
  &.button {
    font-family: "Nunito", sans-serif;
  }
  &.input {
    &.error {
      input {
        background-color: #fff6f6;
        border-color: #e0b4b4;
        color: #9f3a38;
      }
    }
  }
}

.main-wrapper {
  min-height: 100%;
  max-width: 1800px;
  margin: 0 auto;
  header {
    margin: 0 auto;
    min-height: 65px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    background: linear-gradient(130deg, #5895d3 0, #78378c 100%);
    border-bottom-left-radius: 0.28571429rem;
    border-bottom-right-radius: 0.28571429rem;
    .header-logo {
      img {
        max-width: 210px;
      }
    }
    .header-right {
      display: flex;
      flex: 0 1 100%;
      justify-content: flex-end;
      align-items: center;
      .menu {
        list-style: none;
        display: flex;
        margin: 0;
        padding-right: 75px;
        font-weight: 700;
        li {
          margin: 0px 5px;
          &:not(.active) {
            opacity: 0.9;
          }
          a {
            color: #fff;
          }
        }
      }
    }
  }
  .content {
    background: #fff;
    min-height: calc(100vh - 67.47px);
    margin: 60px 0;
    border-radius: 0.28571429rem;
    position: relative;
    .homepage {
      padding: 60px 0;
      .projects-title {
        font-size: 27px;
      }
      .projects {
        position: relative;
        .project {
          display: flex;
          flex: 0 0 50%;
          min-height: 180px;
          background: #fff;
          border: 5px solid transparent;
          padding: 15px 0 15px 15px;
          border-radius: 0.28571429rem;

          -webkit-box-shadow: 0px 1px 5px 0px rgba(143, 143, 143, 0.2);
          -moz-box-shadow: 0px 1px 5px 0px rgba(143, 143, 143, 0.2);
          box-shadow: 0px 1px 5px 0px rgba(143, 143, 143, 0.2);

          .card-left {
            flex: 0 0 60%;
            text-align: justify;
          }
          .card-right {
            flex: 0 0 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .project-button {
              display: flex;
            }
            .card-right-top,
            .card-right-bottom {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .card-right-top {
              button {
                margin: 0;
              }
            }
            .card-right-bottom {
              padding-top: 15px;
              .project-button {
                border-radius: 0.28571429rem;
                border: 1px solid #e0e1e2;
                padding: 0.78571429em 0.46em 0.78571429em;
                text-align: center;
                position: relative;
                &:after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 0.1px;
                  height: 57%;
                  background: #e0e1e2;
                }
                h5 {
                  font-size: 11px;
                  margin: 0px 0px 2px 0px;
                  font-weight: 900;
                }
                p {
                  font-size: 10px;
                }
                .project-button-left,
                .project-button-right {
                  padding: 0px 0.78571429em;
                }
              }
            }
          }
        }
      }
    }
    .project-page {
      position: relative;
      background: #fff;
      min-height: 100vh;
      padding-bottom: 60px;
      .project-detail {
        padding: 75px 630px 0 230px;
      }
      .options-wrapper {
        padding: 75px 630px 0 230px;
        .option {
          margin: 15px 0px;

          .option-left,
          .option-right {
            z-index: 1;
          }
          .option-left {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .option-right {
            padding-left: 15px;
            span {
              font-weight: 600;
              &.bolder {
                font-weight: 700;
              }
            }
          }
          cursor: pointer;
          .segment {
            display: flex;
            position: relative;
            overflow: hidden;
            p {
              margin-left: 10px;
            }
            .option-bg {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;

              z-index: 0;
              border-radius: 0.28571429rem;
            }
            .option-votePercent {
              position: absolute;
              font-weight: 700;
              top: 50%;
              transform: translateY(-50%);
              right: 15px;

              z-index: 0;
            }
          }
        }
        .submit-vote-row {
          display: flex;
          justify-content: flex-end;
        }
      }
      .chart-wrapper-outside {
        width: 400px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        .chart-wrapper-inside {
          position: sticky;
          top: 10px;
        }
        canvas {
          padding: 5px;
        }
      }
    }
    .admin-homepage {
      padding: 30px;
      .admin-login-form-wrapper {
        max-width: 400px;
        margin: 0 auto;
      }
      .admin-login-form-menu {
        max-width: 400px;
        margin: 0 auto 15px auto;
      }
    }
    .admin-add-project-page {
      .add-project-tabs {
        max-width: 850px;
        margin: 0 auto;
        padding-top: 60px;
        margin-bottom: 20px;
      }
      .big-button {
        max-width: 850px;
        margin: 0 auto;
      }
    }
    .admin-update-project-page {
      .update-project-tabs {
        max-width: 850px;
        margin: 0 auto;
        padding-top: 60px;
        margin-bottom: 20px;
      }
      .big-button {
        max-width: 850px;
        margin: 0 auto;
      }
    }
  }
  footer {
    display: flex;
    padding: 15px;
    background-color: #fff;
    border-top-left-radius: 0.28571429rem;
    border-top-right-radius: 0.28571429rem;
    background: linear-gradient(130deg, #5895d3 0, #78378c 100%);
    .footer-left {
      flex: 0 0 50%;
      display: flex;
      align-items: center;
      font-weight: 700;
      color: #fff;
    }
    .footer-right {
      flex: 0 0 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    a {
      max-width: inherit;
      max-height: inherit;
      svg {
        max-width: inherit;
        max-height: inherit;
        path {
          fill: #333;
        }
      }
    }
    .icon-btn {
      margin: 0px 5px;
    }
    .github {
      flex: 0 0 25px;
      max-width: 25px;
      max-height: 25px;
      path {
        fill: #fff;
      }
    }
    .youtube {
      flex: 0 0 25px;
      max-width: 25px;
      max-height: 25px;
      svg {
        path {
          fill: #fff;
          &:nth-child(2) {
            fill: #000;
          }
        }
      }
    }
  }
}
